<html>
    <head>
        <title>KUDO Blog Info KHV</title>
    </head>
        <body>
        <div>
            <h1><a href="/">Хабаровское краевое отделение Федерация КУДО России</a></h1>
        </div>

        <div>
            <p>published: 14.03.2018, 03:58:03</p>
            <h2><a href="">	Хабаровский край принял участие в юбилейном XXV Чемпионате России по КУДО</a></h2>
            <p>25 февраля 2018 года, в г.Москва, прошел XXV Чемпионат России по КУДО. Сильнейшие спортсмены с разных регионов страны прибыли на соревнования для выявления сильнейших в своих категориях. </p>
        </div>

        <div>
            <p>published: 14.03.2018, 03:53:02</p>
            <h2><a href="">III Дальневосточные юношеские Игры боевых искусств</a></h2>
            <p>В Хабаровске, 8 -11 марта 2018 года, в Универсальном краевом спортивном комплексе имени В. И. Ленина, в рамках Открытых Дальневосточных юношеских Игр боевых искусств, прошел турнир по КУДО.</p>
        </div>
    </body>
</html>
